dist: trusty
sudo: required

language: cpp
compiler: gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6
      
install:
  - apt-get install zlib-dev

script:
  - mkdir build
  - make
